
# Created by https://www.toptal.com/developers/gitignore/api/react,yarn,sass
# Edit at https://www.toptal.com/developers/gitignore?templates=react,yarn,sass

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### yarn ###
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
!.yarn/cache

# and uncomment the following lines
# .pnp.*

# End of https://www.toptal.com/developers/gitignore/api/react,yarn,sass